@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.backgrounds {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.backgrounds--picture {
  max-width: 100%;
  padding: 2rem;
}
.backgrounds--quotes {
  width: 25%;
  align-self: center;
}
.backgrounds--curve {
  position: fixed;
  left: 0;
  bottom: 0;
  max-width: 100%;
}

.testimonial {
  position: absolute;
  height: 100%;
  top: 0;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.testimonial-image {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  position: relative;
}

.testimonial img {
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0px 30px 22px -20px rgba(0, 0, 0, 0.25);
  transition: transform 1s cubic-bezier(0.13, 1.07, 0.58, 1), opacity 1s ease-in;
}

.content-section {
  position: relative;
  display: flex;
}

.content {
  text-align: center;
  transition: transform 1s cubic-bezier(0.13, 1.07, 0.58, 1), opacity 1s ease-in;
}

.content p {
  font-weight: 300;
  color: var(--dark-blue);
}

.name {
  font-weight: 700;
  color: var(--dark-blue);
}

.job {
  font-weight: 500;
  color: var(--grayish-blue);
}

.buttons {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
}

.btn {
  background-color: white;
  padding: 0.5rem 0.75rem;
  border: solid 4px white;
}

.btn-prev {
  border-radius: 2rem 0 0 2rem;
}
.btn-next {
  border-radius: 0 2rem 2rem 0;
}

.active {
  opacity: 1;
  position: absolute;
}
.hide {
  opacity: 0;
}

.send-to-left {
  animation-name: sendToLeft;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.13, 1.07, 0.58, 1);
  animation-duration: 1s;
}

.enter-from-right {
  animation-name: enterFromRight;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.13, 1.07, 0.58, 1);
  animation-duration: 1s;
}
.send-to-right {
  animation-name: sendToRight;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.13, 1.07, 0.58, 1);
  animation-duration: 1s;
}

.enter-from-left {
  animation-name: enterFromLeft;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.13, 1.07, 0.58, 1);
  animation-duration: 1s;
}

@keyframes enterFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes sendToLeft {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes enterFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes sendToRight {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
